<div class="accordion" id="depNotifications">
  <div class="accordion-group">
    <div id="nocollapse" class="accordion-body in">
      <div class="accordion-inner">
        <%@notifications.each do |notification|%>
          <% if notification.host.nil? %>
            <strong <% if notification.type == :error %>class="text-error"<% end %><% if notification.type == :success %>class="text-success"<% end %>>[<%=notification.created_at.in_time_zone(timezone).strftime("%F %T %Z")%>]:</strong> <%=notification.message%><br>
          <% end %>
        <%end%>
      </div>
    </div>
  </div>
<%@hosts.each do |host|%>
  <%randid = SecureRandom.hex(4)%>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" href="#collapse<%=randid%>">
      <%if @errors.include?(host)%><strong class="text-error"><%=host%></strong><%else%><%=host%><%end%>
      </a>
    </div>
    <div id="collapse<%=randid%>" class="accordion-body collapse out">
      <div class="accordion-inner">
        <%@notifications.each do |notification|%>
          <% if notification.host == host %>
            <strong <% if notification.type == :error %>class="text-error"<% end %>>[<%=notification.created_at.in_time_zone(timezone).strftime("%F %T %Z")%>]:</strong> <%=notification.message%><br>
          <% end %>
        <%end%>
      </div>
    </div>
  </div>
<%end%>
</div>
<%= '<div id="finished"></div>' if @finished %>
