<div class="row">
  <div class="span12">
    <div class="widget widget-table action-table">
      <div class="widget-header">
        <i class="icon-gears"></i><h3><%=t('task.active')%></h3>
      </div>
      <div class="widget-content">
        <table id="attable" class="stripe">
          <thead style="text-align:left;">
            <tr>
              <th>
                <%=t('task.id')%>
              </th>
              <th>
                <%=t('task.description')%>
              </th>
              <th class="td-actions">
                <%=t('host.status')%>
              </th>
              <th class="td-actions">
                <%=t('task.started', date: '')%>
              </th>
              <th class="td-actions">
                <%=t('action.other')%>
              </th>
            </tr>
          </thead>
          <tbody id="active">
            <% @tasks_progress.each do |task| %>
              <tr id="task<%=task.id%>">
                <td><a href="/task/<%=task.id%>">#<%=task.id%></a></td>
                <td>
                  <%=t('task.actions.'+task.action.to_s)%> <% if task.action == :installing %><%=t('packages')%><% else %><%=task.object%><% end %> on <%=task.target_type%>: <%=task.target%>
                </td>
                <td class="td-actions"><i class="icon-gear icon-spin icon-large"></i></td>
                <td><%=task.created_at.in_time_zone(timezone).strftime("%F %T %Z")%></td>
                <td class="td-actions"><a data-toggle="tooltip" data-original-title="<%=t('action.remove')%>" href="#delTask" class="text-info hint" data-placement="left" onclick="delTask('<%=task.id%>')"><i class="icon-trash icon-large"></i></a></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <div class="widget widget-table action-table">
      <div class="widget-header">
        <i class="icon-archive"></i><h3><%=t('task.completed')%></h3>
      </div>
      <div class="widget-content">
        <table id="cttable" class="stripe">
          <thead style="text-align:left;">
            <tr>
              <th>
                <%=t('task.id')%>
              </th>
              <th>
                <%=t('task.description')%>
              </th>
              <th class="td-actions">
                <%=t('host.status')%>
              </th>
              <th class="td-actions">
                <%=t('task.finished', date: '')%>
              </th>
              <th class="td-actions">
                <%=t('action.other')%>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @tasks_completed.each do |task| %>
              <tr id="task<%=task.id%>">
                <td><a href="/task/<%=task.id%>">#<%=task.id%></a></td>
                <td>
                  <%=t('task.actions.'+task.action.to_s)%> <% if task.action == :installing %><%=t('packages')%><% else %><%=task.object%><% end %> on <%=task.target_type%>: <%=task.target%>
                </td>
                <td class="td-actions">
                  <% if task.status == :failed %>
                    <i class="icon-exclamation-sign icon-large text-error"></i>
                  <% else %>
                    <i class="icon-ok-sign icon-large text-success"></i>
                  <% end %>
                </td>
                <td><%=task.updated_at.in_time_zone(timezone).strftime("%F %T %Z")%></td>
                <td class="td-actions"><a data-toggle="tooltip" data-original-title="<%=t('action.remove')%>" href="#delTask" class="text-info hint" data-placement="left" onclick="delTask('<%=task.id%>')"><i class="icon-trash icon-large"></i></a></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
setInterval( function(){ reloadTasks(); }, 30000 )
</script>
