<div class="well">
  <legend>Deploy Software Group</legend>
  <% @deploys.each do |deploy| %>
    <h5><div class="btn-group">
    <a class="btn btn-success srv"><%=deploy%></a>
          <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/deploys/deploy/<%=deploy%>">Deploy!</a></li>
            <li><a href="/deploys/<%=deploy%>">Details</a></li>
            <li class="divider"></li>
            <li><a href="/deploys/del/<%=deploy%>">Delete</a></li>
          </ul>
        </div></h5>
  <% end %>
</div>

<form id="install_pkg" action='/deploys/install-pkg' method='post' class="form-inline well">
  <legend>Quick Install</legend>
  <div class="control-group"><input name='package' type="text" class="input" placeholder="Package to install" autofocus><p class="help-block">Packages to install separated by spaces</p></div>
  <div class="control-group" for"host"><select id="host" name="host">
	  <% @hosts.each do |host| %>
                <option value="<%=host%>"><%=host%></option>
	  <% end %>
  </select><p class="help-block">Select host or hostgroup</p></div>
  <div class="control-group"><input class="btn primary" type='submit' value='Install!'></div>
</form>
