<div class="row">
  <div class="span6">
    <div class="widget widget-table action-table">
      <div class="widget-header">
        <i class="icon-sitemap"></i><h3>Group Members for <%=@hostgroup.name%></h3>
      </div>
      <div class="widget-content">
        <div style="position:absolute; margin:10px; z-index:90;">
          <a data-toggle="modal" href="#addMember" class="btn">
            Add member <i class="btn-icon-only icon-plus"></i>
          </a>
        </div>
        <div class="visible-phone visible-tablet"><br></br></div>
        <table id="hgmtable" class="stripe row-border">
          <thead style="text-align:left;">
            <tr>
              <th>
                Hostname
              </th>
              <th>
                Status
              </th>
              <th class="td-actions">
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <% @hostgroup.hosts.each do |host| %>
            <tr>
              <td>
                <%=host.hostname%>
              </td>
              <td>
                <% if @host_status[host.hostname] == 1 %>
                  <span class="label label-success">all ok</span>
                <% elsif @host_status[host.hostname] == 2 %>
                  <span class="label label-warning">warning</span>
                <% elsif @host_status[host.hostname] == 3 %>
                  <span class="label label-important">down</span>
                <% elsif @host_status[host.hostname] == 4 %>
                  <span class="label">not monitored</span>
                <% end %>
              </td>
              <td class="td-actions">
                <a data-toggle="tooltip" data-original-title="Details" href="/host/<%=host.hostname%>" class="btn btn-info btn-mini btn-icon-only hint"><i class="btn-icon-only icon-folder-open"></i></a>
                <a data-toggle="tooltip" data-original-title="Remove from group" href="#delMember" class="btn btn-danger btn-mini btn-icon-only hint" onclick="passDataToModal('<%=host.hostname%>', '#delMember')"><i class="btn-icon-only icon-remove"></i></a>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="span6">
    <div class="widget">
      <div class="widget-header">
        <i class="icon-terminal"></i><h3>Custom variables</h3>
      </div>
      <div class="widget-content">
        <div class="control-group" id="fields">
            <%@hostgroup.opt_vars.each do |var|%>
            <div class="controls">
              <form class="input-prepend input-append" id="del_hostgroup_var" action='/hostgroup/del-var' method='post'>
                <input type="hidden" name="hostgroup" value="<%=@hostgroup.name%>">
                <input type="hidden" name="var_name" value="<%=var[0]%>">
                <input type="text" class="span2 disabled" disabled="" name="dummy_var_name" value="<%=var[0]%>">
                <input type="text" class="span2 disabled" disabled="" name="dummy_value" value="<%=var[1]%>">
                <button class="btn btn-append" type="submit"><i class="icon-minus"></i></button>
              </form>
            </div>
            <%end%>

          <form id="add_hostgroup_var" action='/hostgroup/add-var' method='post'>
            <div class="controls">
            <div class="input-append">
              <input type="hidden" name="hostgroup" value="<%=@hostgroup.name%>">
              <input autocomplete="off" class="input span2" id="var_name" name="var_name" type="text" placeholder="variable name" required/>
              <input autocomplete="off" class="input span2" id="value" name="value" type="text" placeholder="value" required/>
              <button class="btn btn-append" type="submit"><i class="icon-plus"></i></button>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="addMember" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Add Member" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="addMemeberLabel">Add Member</h3>
  </div>
  <form id="addMemeberform" action="/hostgroup/add-member" method="post">
    <div class="modal-body">
      <input name='hostgroup' type="hidden" value="<%=@hostgroup.name%>">
      <div class="control-group">
        <select name='hostname' class="input-xlarge" id="selectMember">
          <option></option>
          <% Host.all.each do |host| %>
            <% if !@hostgroup.hosts.include?(host) %>
              <option value="<%=host.hostname%>"><%=host.hostname%></option>
            <% end %>
          <% end %>
        </select>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </form>
</div>


<div id="delMember" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Del Memeber" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="delDeployLabel">Attention!</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete <b id="dataInput"></b> from the <b><%=@hostgroup.name%></b> hostgroup?</p>
  </div>
  <div class="modal-footer">
    <form id="delMemberform" action="/hostgroup/del-member" method="post">
      <input type="hidden" name="hostgroup" value="<%=@hostgroup.name%>">
      <input type="hidden" name="hostname" id="dataInput" value="">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <button type="submit" class="btn btn-primary">Delete</button>
    </form>
  </div>
</div>
