<div class="row">
  <div class="span6">
    <div class="widget widget-table action-table">
      <div class="widget-header">
        <i class="icon-sitemap"></i><h3><%=t('group.members.title', group: @hostgroup.name)%></h3>
        <div class="pull-right"><a class="btn btn-icon-header btn-mini" href="#editHostgroup" role="button" data-toggle="modal"><i class="icon-edit"></i></a></div>
      </div>
      <div class="widget-content">
        <div style="position:absolute; margin:10px; z-index:90;">
          <a data-toggle="modal" href="#addMember" class="btn">
            <%=t('group.members.add')%> <i class="btn-icon-only icon-plus"></i>
          </a>
        </div>
        <div class="visible-phone visible-tablet"><br></br></div>
        <table id="hgmtable" class="stripe row-border">
          <thead style="text-align:left;">
            <tr>
              <th>
                <%=t('host.hostname')%>
              </th>
              <th>
                <%=t('host.status')%>
              </th>
              <th class="td-actions">
                <%=t('action.other')%>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @hostgroup.hosts.each do |host| %>
            <tr>
              <td>
                <%=host.hostname%>
              </td>
              <td>
                <% if @host_status[host.hostname] == 1 %>
                  <span class="label label-success"><%=t('status.ok')%></span>
                <% elsif @host_status[host.hostname] == 2 %>
                  <span class="label label-warning"><%=t('status.warning')%></span>
                <% elsif @host_status[host.hostname] == 3 %>
                  <span class="label label-important"><%=t('status.down')%></span>
                <% elsif @host_status[host.hostname] == 4 %>
                  <span class="label"><%=t('status.not_monitored')%></span>
                <% end %>
              </td>
              <td class="td-actions">
                <a data-toggle="tooltip" data-original-title="<%=t('action.details')%>" href="/host/<%=host.hostname%>" class="btn btn-info btn-mini btn-icon-only hint"><i class="btn-icon-only icon-folder-open"></i></a>
                <a data-toggle="tooltip" data-original-title="<%=t('group.members.del')%>" href="#delMember" class="btn btn-danger btn-mini btn-icon-only hint" onclick="passDataToModal('<%=host.hostname%>', '#delMember')"><i class="btn-icon-only icon-remove"></i></a>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="span6">
    <div class="widget">
      <div class="widget-header">
        <i class="icon-terminal"></i><h3><%=t('vars.title')%></h3>
      </div>
      <div class="widget-content">
        <div class="control-group" id="fields">
            <%@hostgroup.opt_vars.each do |var|%>
            <div class="controls">
              <form class="input-prepend input-append" id="del_hostgroup_var" action='/hostgroup/del-var' method='post'>
                <input type="hidden" name="hostgroup" value="<%=@hostgroup.name%>">
                <input type="hidden" name="var_name" value="<%=var[0]%>">
                <input type="text" class="span2 disabled" disabled="" name="dummy_var_name" value="<%=var[0]%>">
                <input type="text" class="span2 disabled" disabled="" name="dummy_value" value="<%=var[1]%>">
                <button class="btn btn-append" type="submit"><i class="icon-minus"></i></button>
              </form>
            </div>
            <%end%>

          <form id="add_hostgroup_var" action='/hostgroup/add-var' method='post'>
            <div class="controls">
            <div class="input-append">
              <input type="hidden" name="hostgroup" value="<%=@hostgroup.name%>">
              <input autocomplete="off" class="input span2" id="var_name" name="var_name" type="text" placeholder="<%=t('vars.name')%>" required/>
              <input autocomplete="off" class="input span2" id="value" name="value" type="text" placeholder="<%=t('vars.value')%>" required/>
              <button class="btn btn-append" type="submit"><i class="icon-plus"></i></button>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="addMember" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="<%=t('group.members.add')%>" aria-hidden="true">
  <div class="modal-header">
    <a type="button" class="close" data-dismiss="modal" aria-hidden="true">×</a>
    <h3 id="addMemeberLabel"><%=t('group.members.add')%></h3>
  </div>
  <form id="addMemeberform" action="/hostgroup/add-member" method="post">
    <div class="modal-body">
      <input name='hostgroup' type="hidden" value="<%=@hostgroup.name%>">
      <div class="control-group">
        <select name='hostname[]' class="input-xlarge" id="selectMember" multiple>
          <option></option>
          <% Host.all.each do |host| %>
            <% if !@hostgroup.hosts.include?(host) %>
              <option value="<%=host.hostname%>"><%=host.hostname%></option>
            <% end %>
          <% end %>
        </select>
      </div>
    </div>
    <div class="modal-footer">
      <a class="btn" data-dismiss="modal" aria-hidden="true"><%=t('action.cancel')%></a>
      <button type="submit" class="btn btn-primary"><%=t('action.add')%></button>
    </div>
  </form>
</div>


<div id="delMember" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="<%=t('group.members.del')%>" aria-hidden="true">
  <div class="modal-header">
    <a type="button" class="close" data-dismiss="modal" aria-hidden="true">×</a>
    <h3 id="delDeployLabel"><%=t('dialog.attention')%></h3>
  </div>
  <div class="modal-body">
    <p><%= t('dialog.del_member.confirm', host: '<b id="dataInput"></b>', group: @hostgroup.name) %></p>
  </div>
  <div class="modal-footer">
    <form id="delMemberform" action="/hostgroup/del-member" method="post">
      <input type="hidden" name="hostgroup" value="<%=@hostgroup.name%>">
      <input type="hidden" name="hostname" id="dataInput" value="">
      <a class="btn" data-dismiss="modal" aria-hidden="true"><%=t('action.cancel')%></a>
      <button type="submit" class="btn btn-primary"><%=t('action.del')%></button>
    </form>
  </div>
</div>

<div id="editHostgroup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="<%=t('group.edit')%>" aria-hidden="true">
  <div class="modal-header">
    <a type="button" class="close" data-dismiss="modal" aria-hidden="true">×</a>
    <h3 id="EditHostLabel"><%=t('group.edit')%></h3>
  </div>
  <form id="editServerform" action="/hostgroup/edit" method="post">
    <div class="modal-body">
      <div class="control-group">
        <input autocomplete="off" name='name' type="text" class="input" value="<%=@hostgroup.name%>" autofocus required><span class="help-inline"><%=t('name')%></span>
      </div>
    </div>
    <div class="modal-footer">
      <input type="hidden" name="old_name" value="<%=@hostgroup.name%>">
      <a class="btn" data-dismiss="modal" aria-hidden="true"><%=t('action.cancel')%></a>
      <button type="submit" class="btn btn-primary"><%=t('action.save')%></button>
    </div>
  </form>
</div>
