<!DOCTYPE html>
<html>
<head>
  <title>ASYD - Automated SYstem Deployment</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/img/favicon.png">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600">
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <% if request.path_info.start_with?("/login") %>
    <link rel="stylesheet" type="text/css" href="/css/pages/signin.css">
  <% end %>
  <script type="text/javascript" language="javascript" src="/js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" language="javascript" src="/js/bootstrap.js"></script>
  <script type="text/javascript" language="javascript" src="/js/base.js"></script>
  <script type="text/javascript" language="javascript" src="/js/jqBootstrapValidation.min.js"></script>
  <script type="text/javascript" language="javascript" src="/js/modernizr.min.js"></script>
  <% if request.path_info == "/" %>
    <script type="text/javascript" language="javascript" src="//www.google.com/jsapi"></script>
    <script type="text/javascript" language="javascript" src="/js/chartkick.js"></script>
  <% end %>
  <% if request.path_info.start_with?("/deploys/") || request.path_info.start_with?("/monitors/") %>
    <script type="text/javascript" language="javascript" src="/js/codemirror.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/codemirror.css">
  <% end %>
  <script type="text/javascript" language="javascript" src="/js/funcs.js?v=0.064"></script>
  <!-- DataTables -->
  <% if request.path_info.start_with?("/host") || request.path_info.start_with?("/deploys/list") || request.path_info.start_with?("/monitors/list") || request.path_info.start_with?("/task/list") || request.path_info.start_with?("/users") %>
    <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="/css/datatables-bootstrap.css">
    <script type="text/javascript" language="javascript" src="/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="/js/datatables-bootstrap.js"></script>
  <% end %>
  <!-- DataTables -->
  <!-- Select2 -->
  <% if request.path_info.start_with?("/host") || request.path_info.start_with?("/deploys/list") || request.path_info.start_with?("/monitors/list") %>
    <link rel="stylesheet" type="text/css" href="/css/select2.css">
    <script type="text/javascript" language="javascript" src="/js/select2.min.js"></script>
  <% end %>
  <!-- Select2 -->
  <% if request.path_info.start_with?("/deploys/") %>
    <script type="text/javascript" src="/js/bootstrap-filestyle.min.js"> </script>
  <% end %>
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script type="text/javascript" language="javascript" src="/js/html5.js"></script>
  <![endif]-->
  <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome-ie7.min.css">
  <![endif]-->
</head>
<body>
  <div id="wrapper">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">
             <img src="/img/asyd-logo.png">
          </a>
          <div class="nav-collapse">
            <ul class="nav pull-right">
              <li><a href="/help"><i class="icon-book"></i> <%=t('menu.documentation')%></a></li>
              <%if !user.nil?%>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-cog"></i> <%=user.username%> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <%if user.is_admin?%>
                    <li><a href="/users"><%=t('menu.manage_users')%></a></li>
                    <li><a href="/settings">System Settings</a></li>
                    <li class="divider"></li>
                  <%end%>
                  <li><a href="/password/change"><%=t('password.change')%></a></li>
                  <li><a href="/logout"><%=t('menu.logout')%></a></li>
                </ul>
              </li>
              <%end%>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="scroller_anchor"></div>
    <div class="subnavbar subnavbar-fixed-top">
      <div class="subnavbar-inner">
        <div class="container">
          <ul class="mainnav">
            <li <% if request.path_info == "/" %>class="active"<%end%>><a href="/"><i class="icon-dashboard"></i><span><%=t('menu.dashboard')%></span></a></li>
            <li <% if request.path_info.start_with?("/host") %>class="active"<%end%>><a href="/hosts/overview"><i class="icon-hdd"></i><span><%=t('menu.servers')%></span></a></li>
            <li <% if request.path_info.start_with?("/deploy") %>class="active"<%end%>><a href="/deploys/list"><i class="icon-code"></i><span><%=t('menu.deploys')%></span></a></li>
            <li <% if request.path_info.start_with?("/monitor") %>class="active"<%end%>><a href="/monitors/list"><i class="icon-desktop"></i><span><%=t('menu.monitoring')%></span></a></li>
            <li <% if request.path_info.start_with?("/task") %>class="active"<%end%>><a href="/task/list"><i class="icon-tasks"></i><span><%=t('menu.tasks')%></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="main">
    	<div class="main-inner">
        <div class="container">
          <% notifications = Notification.all(:dismiss => false) %>
          <% notifications.reverse.each do |notification| %>
            <% if notification.sticky == false %>
              <% NOTEX.synchronize{ notification.update(:dismiss => true) } %>
              <% if notification.type == :info %>
                <div class="alert alert-info">
              <% elsif notification.type == :error %>
                <div class="alert alert-error">
              <% elsif notification.type == :success %>
                <div class="alert alert-success">
              <% end %>
                <%= notification.message %></div>
            <% else %>
              <% if notification.type == :info %>
                <div class="alert alert-info">
              <% elsif notification.type == :error %>
                <div class="alert alert-error">
              <% elsif notification.type == :success %>
                <div class="alert alert-success">
              <% end %>
                <a href="#" class="close" data-dismiss="alert" onclick="dismissNotification('<%= notification.id %>')">&times;</a><%= notification.message %>
                <% if !notification.task.nil? %>
                  (task <a href="/task/<%=notification.task.id%>">#<%=notification.task.id%></a>)
                <% end %>
                </div>
            <% end %>
          <% end %>

          <% notifications = Monitoring::Notification.all(:dismiss => false, :acknowledge => false) %>
          <% notifications.each do |notification| %>
            <% if notification.type == :info %>
              <div id="<%= notification.id %>" class="alert alert-info">
            <% elsif notification.type == :error %>
              <div id="<%= notification.id %>" class="alert alert-error">
            <% elsif notification.type == :success %>
              <div id="<%= notification.id %>" class="alert alert-success">
            <% end %>
              <span class="dropdown" style="float: right">
                <a href="#" class="close dropdown-toggle" data-toggle="dropdown">
                  &times;
                </a>
                <ul class="dropdown-menu" style="left: -100px">
                  <li><a href="#" onclick="dismissMonitoringNotification('<%= notification.id %>')"><%=t('action.dismiss')%></a></li>
                  <li><a href="#" onclick="acknowledgeMonitoringNotification('<%= notification.id %>')"><%=t('action.acknowledge')%></a></li>
                </ul>
              </span>
              <%= notification.message %>
              </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer-inner">
        <div class="container">
          <div class="row">
            <div class="span4">
              2014,2015 - ASYD Solutions
            </div>
            <div class="span2 offset6">
              <% file = open('http://www.asyd.eu/asyd.version') %>
              <% last_ver = file.read.strip %>
              <% curr_ver = 0.067 %>
              <%= '<div class="text-error">' unless last_ver.to_f <= curr_ver %> v <%= curr_ver %> <%= "Update available</div>" unless last_ver.to_f <= curr_ver %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
