<div class="accordion" id="depNotifications">
  <div class="accordion-group">
    <div id="nocollapse" class="accordion-body in">
      <div class="accordion-inner">
        <%@notifications.each do |notification|%>
          <% if notification.host.nil? %>
            <strong>[<%=notification.created_at.in_time_zone(timezone).strftime("%F %T %Z")%>]:</strong> <%=notification.message%><br>
          <% end %>
        <%end%>
      </div>
    </div>
  </div>
<%@hosts.each do |host|%>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" href="#collapse<%=host%>">
      <%=host%>
      </a>
    </div>
    <div id="collapse<%=host%>" class="accordion-body collapse out">
      <div class="accordion-inner">
        <%@notifications.each do |notification|%>
          <% if notification.host == host %>
            <strong>[<%=notification.created_at.in_time_zone(timezone).strftime("%F %T %Z")%>]:</strong> <%=notification.message%><br>
          <% end %>
        <%end%>
      </div>
    </div>
  </div>
<%end%>
</div>
