<h3> Password change </h3>
<legend></legend>
<div class="content">
  <form method="post" action="/password/change">
    <fieldset>
      <label for="password"><%=t('password.one')%></label>
      <input type="password" id="password" name="password" value="" placeholder="<%=t('password.one') %>" class="password-field" />

      <label for="new_password"><%=t('password.new')%></label>
      <input type="password" id="new_password" name="new_password" value="" placeholder="<%=t('password.new')%>" class="password-field" />

      <label for="confirm_password"><%=t('password.repeat')%></label>
      <input type="password" id="confirm_password" name="confirm_password" value="" placeholder="<%=t('password.repeat')%>" class="password-field" />

      <button type="submit" class="btn btn-primary">Save</button>
    </fieldset>
  </form>
</div>
