<div id="editTeam" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="<%=t('dialog.edit_team.title')%>" aria-hidden="true">
  <div class="modal-header">
    <a type="button" class="close" data-dismiss="modal" aria-hidden="true">×</a>
    <h3 id="editTeamLabel"><%=t('dialog.edit_team.title')%></h3>
  </div>
  <form id="editTeamform" action="/team/edit" method="post">
    <div class="modal-body">
      <div class="control-group"><input name="name" type="text" id="name" value="<%=@team.name%>" readonly><span class="help-inline"><%=t('dialog.edit_team.name')%></span></div>
      <br/>
      <h4><%=t('dialog.edit_team.capabilities')%></h4>
      <div class="control-group">
        <%@team.capabilities.each do |cap|%>
          <input type="checkbox" value="<%=cap%>" checked="checked"> <%=cap%>
        <%end%>
      </div>
      <input type="submit" id="submit-form" class="hidden" />
    </form>
      <br/>
      <h4><%=t('dialog.edit_team.members')%></h4>
      <div class="control-group" style="margin-left: 4px; margin-top: 4px;" id="teamMembers">
      <% @team.users.each do |user| %>
        <div class="input-append" id="<%= user.username %>">
          <span class="add-on" style="width: 78px;"><%= user.username %></span>
          <button class="btn" type="button" onclick="delTeamMember('<%=@team.name%>', '<%= user.username %>')"><i class="icon-minus"></i></button>
        </div>
      <% end %>
      </div>
      <div class="control-group">
        <div class="input-append">
        <select name='hostname' class="input-small" id="selectAddUser">
          <option></option>
          <% User.all.each do |user| %>
            <% if !@team.users.include?(user) %>
              <option value="<%=user.username%>"><%=user.username%></option>
            <% end %>
          <% end %>
        </select>
        <button class="btn" type="button" style="margin-top: -8px;" onclick="addTeamMember('<%=@team.name%>')"><i class="icon-plus"></i></button>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="btn" data-dismiss="modal" aria-hidden="true"><%=t('action.cancel')%></a>
      <label for="submit-form" class="btn btn-primary"><%=t('action.save')%></label>
    </div>
</div>
