<!DOCTYPE html>
<html>
<head>
  <title>ASYD - Automated SYstem Deployment</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/img/favicon.png">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/pages/signin.css">
  <script src="/js/jquery-1.7.2.min.js" type="text/javascript"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/base.js"></script>
  <script src="/js/jqBootstrapValidation.min.js"></script>
  <script src="/js/funcs.js" type="text/javascript"></script>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">
          <img src="/img/asyd-logo.png">
        </a>
      </div>
    </div>
  </div>
  <br />
  <div class="main">
    <div class="main-inner">
      <div class="container">
        <div class="account-container">
        	<div class="content clearfix">
        		<form action="/password/reset" method="post">
        			<h1><%=t('asyd.recovery')%></h1>
        			<div class="login-fields">
                                  <input type="hidden" value="<%=token%>" id="token" name="token" />
                                        <div class="field">
                                                <label for="username"><%=t('username')%>:</label>
                                                <input type="text" id="username" name="username" value="" placeholder="<%=t('username')%>" class="login email-field" />
                                        </div> <!-- /field -->
                                        <div class="field">
                                                <label for="password"><%=t('password.one')%>:</label>
                                                <input type="password" id="password" name="password" value="" placeholder="<%=t('password.one')%>" class="login password-field" />
                                        </div> <!-- /field -->
                                        <div class="field">
                                                <label for="confirm_password"><%=t('password.repeat')%>:</label>
                                                <input type="password" id="confirm_password" name="confirm_password" value="" placeholder="<%=t('password.repeat')%>" class="login password-field" />
                                        </div> <!-- /field -->
        			</div> <!-- /login-fields -->
        			<div class="login-actions">
        				<button class="button btn btn-success btn-large"><%=t('action.password_reset')%></button>
        			</div> <!-- .actions -->
        		</form>
        	</div> <!-- /content -->
        </div> <!-- /account-container -->
      </div>
    </div>
  </div>
</body>
</html>
