<div class="row">
	<div class="span6">
		<div class="widget widget-table action-table">
			<div class="widget-header">
				<i class="icon-trello"></i><h3><%=t('group.other')%></h3>
			</div>
			<div class="widget-content">
				<div style="position:absolute; margin:10px; z-index:90;">
					<a data-toggle="modal" href="#addGroup" class="btn">
						<%=t('group.add')%> <i class="btn-icon-only icon-plus"></i>
					</a>
				</div>
				<div class="visible-phone visible-tablet"><br></br></div>
				<table id="hgtable" class="stripe row-border">
					<thead style="text-align:left;">
						<tr>
							<th>
								<%=t('name')%>
							</th>
							<th>
								<%=t('host.other')%>
							</th>
							<th class="td-actions">
								<%=t('action.other')%>
							</th>
						</tr>
					</thead>
					<tbody>
						<% @groups.each do |group| %>
						<tr>
							<td>
								<%=group.name%>
							</td>
							<td>
								<div class="accordion-group accordion-invisible">
									<div class="accordion-heading accordion-invisible">
										<% members_status = group.members_status %>
										<% if members_status[:failed] == 0 %>
											<a data-toggle="collapse" href="#collapse<%=group.name%>" style="font-size: 8pt; color: #ffffff;" class="badge badge-success"><%=members_status[:sane]%>/<%=members_status[:total]%></a>
										<% else %>
											<a data-toggle="collapse" href="#collapse<%=group.name%>" data-placement="right" data-original-title="<%=members_status[:failed]%> host(s) on this group has issues" style="font-size: 8pt; color: #ffffff;" class="badge badge-warning hint "><%=members_status[:sane]%>/<%=members_status[:total]%></a>
										<% end %>
									</div>
									<div id="collapse<%=group.name%>" class="accordion-body collapse accordion-invisible">
										<div class="accordion-inner accordion-invisible">
											<table class="table table-condensed">
												<tbody>
													<% group.hosts.each do |host| %>
													<tr class="accordion-invisible"><td class="accordion-invisible">
														<i class="icon-angle-right"></i>
														<a href="/host/<%=host.hostname%>">
														<% if @host_status[host.hostname] == 1 %>
															<span class="label label-success">
														<% elsif @host_status[host.hostname] == 2 %>
															<span class="label label-warning">
														<% elsif@host_status[host.hostname] == 3 %>
															<span class="label label-important">
														<% elsif @host_status[host.hostname] == 4 %>
															<span class="label">
														<% end %><%= host.hostname %></span>
														</a>
													</td></tr>
													<% end %>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</td>
							<td class="td-actions">
								<a data-toggle="tooltip" data-original-title="<%=t('action.details')%>" href="/hostgroup/<%=group.name%>" class="btn btn-info btn-mini btn-icon-only hint"><i class="btn-icon-only icon-folder-open"></i></a>
								<a data-toggle="tooltip" data-original-title="<%=t('action.remove')%>" href="#delGroup" class="btn btn-danger btn-mini btn-icon-only hint" onclick="passDataToModal('<%=group.name%>', '#delGroup')"><i class="btn-icon-only icon-remove"></i></a>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="widget widget-table action-table">
			<div class="widget-header">
				<i class="icon-hdd"></i><h3><%=t('host.other')%></h3>
			</div>
			<div class="widget-content">
				<div style="position:absolute; margin:10px; z-index:90;">
					<a data-toggle="modal" href="#addServer" class="btn">
						<%=t('host.add')%> <i class="btn-icon-only icon-plus"></i>
					</a>
				</div>
				<div class="visible-phone visible-tablet"><br></br></div>
				<table id="htable" class="stripe row-border">
					<thead style="text-align:left;">
						<tr>
							<th>
								<%=t('host.hostname')%>
							</th>
							<th>
								<%=t('host.status')%>
							</th>
							<th class="td-actions">
								<%=t('action.other')%>
							</th>
						</tr>
					</thead>
					<tbody>
						<% @hosts.each do |host| %>
						<tr>
							<td>
								<%=host.hostname%>
							</td>
							<td>
								<% if @host_status[host.hostname] == 1 %>
	              	<span class="label label-success"><%=t('status.ok')%></span>
								<% elsif @host_status[host.hostname] == 2 %>
									<span class="label label-warning"><%=t('status.warning')%></span>
								<% elsif @host_status[host.hostname] == 3 %>
									<span class="label label-important"><%=t('status.down')%></span>
								<% elsif @host_status[host.hostname] == 4 %>
									<span class="label"><%=t('status.not_monitored')%></span>
								<% end %>
							</td>
							<td class="td-actions">
								<a data-toggle="tooltip" data-original-title="<%=t('action.details')%>" href="/host/<%=host.hostname%>" class="btn btn-info btn-mini btn-icon-only hint"><i class="btn-icon-only icon-folder-open"></i></a>
								<a data-toggle="tooltip" data-original-title="<%=t('host.reboot')%>" href="#rebootServer" class="btn btn-inverse btn-mini btn-icon-only hint" onclick="passDataToModal('<%=host.hostname%>', '#rebootServer')"><i class="btn-icon-only icon-repeat"></i></a>
								<a data-toggle="tooltip" data-original-title="<%=t('action.remove')%>" href="#delServer" class="btn btn-danger btn-mini btn-icon-only hint" onclick="passDataToModal('<%=host.hostname%>', '#delServer')"><i class="btn-icon-only icon-remove"></i></a>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<div id="addServer" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="<%=t('host.add')%>" aria-hidden="true">
	<div class="modal-header">
		<a type="button" class="close" data-dismiss="modal" aria-hidden="true">×</a>
		<h3 id="addServerLabel"><%=t('host.add')%></h3>
	</div>
	<form id="addServerform" action="/host/add" method="post">
		<div class="modal-body">
			<div class="control-group"><input autocomplete="off" name='hostname' type="text" class="input" placeholder="<%=t('host.hostname')%>" autofocus required><span class="help-inline"><%=t('host.hostname')%> <%=t('dialog.unique')%></span></div>
			<div class="control-group"><input autocomplete="off" name='ip' type="text" class="input" placeholder="<%=t('ip')%>" data-validation-regex-regex="(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)" data-validation-regex-message="<%=t('dialog.add_host.ip.valid')%>" required><span class="help-inline"><%=t('ip')%> <%=t('dialog.unique')%></span><p class="help-block"></p></div>
			<div class="control-group"><input autocomplete="off" name='user' type="text" class="input" placeholder="<%=t('username')%>" value="root" required><span class="help-inline"><%=t('username')%> <%=t('dialog.add_host.admin')%></span></div>
			<div class="control-group"><input autocomplete="off" name='ssh_port' type="number" class="input" value="22" required><span class="help-inline"><%=t('ssh.port')%></span></div>
			<div class="control-group"><input name='password' type="password" class="input" placeholder="<%=t('password.one')%>"><span class="help-inline"><%=t('password.one')%> <%=t('dialog.add_host.password')%></span></div>
		</div>
		<div class="modal-footer">
			<a class="btn" data-dismiss="modal" aria-hidden="true"><%=t('action.cancel')%></a>
			<button type="submit" class="btn btn-primary"><%=t('action.add')%></button>
			<input type="submit" class="btn btn-primary" name="more" value="<%=t('action.add')%> <%=t('action.more')%>">
		</div>
	</form>
</div>


<div id="addGroup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="<%=t('group.add')%>" aria-hidden="true">
	<div class="modal-header">
		<a type="button" class="close" data-dismiss="modal" aria-hidden="true">×</a>
		<h3 id="addServerLabel"><%=t('group.add')%></h3>
	</div>
	<form id="addGroupform" action="/hostgroup/add" method="post">
		<div class="modal-body">
			<div class="control-group"><input autocomplete="off" name='hostgroup' type="text" class="input-xlarge" placeholder="<%=t('name')%>" autofocus required></div>
		</div>
		<div class="modal-footer">
			<a class="btn" data-dismiss="modal" aria-hidden="true"><%=t('action.cancel')%></a>
			<button type="submit" class="btn btn-primary"><%=t('action.add')%></button>
		</div>
	</form>
</div>


<div id="rebootServer" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="<%=t('dialog.reboot.title')%>" aria-hidden="true">
	<div class="modal-header">
		<a type="button" class="close" data-dismiss="modal" aria-hidden="true">×</a>
		<h3 id="rebootServerLabel"><%=t('dialog.attention')%></h3>
	</div>
	<div class="modal-body">
		<p><%= t('dialog.reboot.confirm', host: '<b id="dataInput"></b>') %></p>
	</div>
	<div class="modal-footer">
		<form id="rebootServerform" action="/host/reboot" method="post">
			<input type="hidden" name="hostname" id="dataInput" value="">
			<a class="btn" data-dismiss="modal" aria-hidden="true"><%=t('action.cancel')%></a>
			<button type="submit" class="btn btn-primary"><%=t('host.reboot')%></button>
		</form>
	</div>
</div>


<div id="delServer" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="<%=t('dialog.del_host.title')%>" aria-hidden="true">
	<div class="modal-header">
		<a type="button" class="close" data-dismiss="modal" aria-hidden="true">×</a>
		<h3 id="delServerLabel"><%=t('dialog.attention')%></h3>
	</div>
	<div class="modal-body">
		<p><%= t('dialog.del_host.confirm', host: '<b id="dataInput"></b>') %></p>
	</div>
	<div class="modal-footer">
		<form id="delServerform" action="/host/del" method="post">
			<input type="hidden" name="hostname" id="dataInput" value="">
			<div style="float:left" class="control-group"><input type="checkbox" name="revoke" value="true"> Revoke SSH key</div>
			<a class="btn" data-dismiss="modal" aria-hidden="true"><%=t('action.cancel')%></a>
			<button type="submit" class="btn btn-primary"><%=t('action.del')%></button>
		</form>
	</div>
</div>


<div id="delGroup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="<%=t('dialog.del_group.title')%>" aria-hidden="true">
	<div class="modal-header">
		<a type="button" class="close" data-dismiss="modal" aria-hidden="true">×</a>
		<h3 id="delGroupLabel"><%=t('dialog.attention')%></h3>
	</div>
	<div class="modal-body">
		<p><%= t('dialog.del_group.confirm', group: '<b id="dataInput"></b>') %></p>
	</div>
	<div class="modal-footer">
		<form id="delGroupform" action="/hostgroup/del" method="post">
			<input type="hidden" name="hostgroup" id="dataInput" value="">
			<a class="btn" data-dismiss="modal" aria-hidden="true"><%=t('action.cancel')%></a>
			<button type="submit" class="btn btn-primary"><%=t('action.del')%></button>
		</form>
	</div>
</div>
