<div class="span7">
  <div class="row">
    <div class="widget widget-table action-table">
      <div class="widget-header">
        <i class="icon-stethoscope"></i><h3><%=t('host.stats.title')%></h3>
      </div>
      <div class="widget-content">
        <table class="table table-striped table-bordered">
        <tbody>
          <tr>
            <td><strong><%=t('host.stats.load')%></strong></td>
            <td><%=@status.load_1.to_s+" "+@status.load_5.to_s+" "+@status.load_15.to_s unless @status.nil? %></td>
          </tr>
          <tr>
            <td><strong><%=t('host.stats.cpu')%></strong></td>
            <td><%=@status.cpu_us.to_s+"%us, "+@status.cpu_sy.to_s+"%sy, "+@status.cpu_wa.to_s+"%wa" unless @status.nil? %></td>
          </tr>
          <tr>
            <td><strong><%=t('host.stats.mem')%></strong></td>
            <td><%=@status.used_sysmem_mb.to_s+"MB "+t('used')+" / "+@status.total_memory.to_s+"MB "+t('total')+"" unless @status.nil? %><div style="margin-top: 9px; margin-bottom: 9px; text-align: center" class="progress progress-success">
                      <div style="width: <%=@status.used_sysmem_percent.to_i.round.to_s unless @status.nil? %>%" class="bar"><%=@status.used_sysmem_percent.to_s unless @status.nil? %>% <%=t('used')%></div>
            </div></td>
          </tr>
          <% unless @status.services.nil? %>
          <tr>
            <td><strong><%=t('host.stats.services')%></strong></td>
            <td>
              <% @status.services.each do |service| %>
              <p  <%= 'class="text-warning"' if service[1] == "not monitored" %>
                  <%= 'class="text-success"' if service[1] == "ok" %>
                  <%= 'class="text-error"' if service[1] != "ok" and service[1] != "not monitored" %> >
                  <strong><%= service[0] %>:</strong> <%= service[1] %>
                </p>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="widget">
      <div class="widget-header">
        <i class="icon-terminal"></i><h3><%=t('vars.title')%></h3>
      </div>
      <div class="widget-content">
        <div class="control-group" id="fields">
            <%@host.opt_vars.each do |var|%>
            <div class="controls">
              <form class="input-prepend input-append" id="del_host_var" action='/host/del-var' method='post'>
                <input type="hidden" name="hostname" value="<%=@host.hostname%>">
                <input type="hidden" name="var_name" value="<%=var[0]%>">
                <input type="text" class="span2 disabled" disabled="" name="dummy_var_name" value="<%=var[0]%>">
                <input type="text" class="span2 disabled" disabled="" name="dummy_value" value="<%=var[1]%>">
                <button class="btn btn-append" type="submit"><i class="icon-minus"></i></button>
              </form>
            </div>
            <%end%>

          <form id="add_host_var" action='/host/add-var' method='post'>
            <div class="controls">
            <div class="input-append">
              <input type="hidden" name="hostname" value="<%=@host.hostname%>">
              <input autocomplete="off" class="input span2" id="var_name" name="var_name" type="text" placeholder="<%=t('vars.name')%>" required/>
              <input autocomplete="off" class="input span2" id="value" name="value" type="text" placeholder="<%=t('vars.value')%>" required/>
              <button class="btn btn-append" type="submit"><i class="icon-plus"></i></button>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="span4">
  <div class="widget widget-table action-table">
    <div class="widget-header">
      <i class="icon-info"></i><h3><%=t('host.info.title')%></h3>
      <div class="pull-right"><a class="btn btn-icon-header btn-mini" href="#editHost" role="button" data-toggle="modal"><i class="icon-edit"></i></a></div>
    </div>
    <div class="widget-content">
      <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td><strong><%=t('host.hostname').downcase%></strong></td>
          <td><%=@host.hostname%></td>
        </tr>
        <tr>
          <td><strong><%="ip:"%></strong></td>
          <td><%=@host.ip%></td>
        </tr>
        <tr>
          <td><strong><%=t('host.info.os')%></strong></td>
          <td><%=@host.dist+" "+@host.dist_ver.to_s%></td>
        </tr>
        <tr>
          <td><strong><%=t('host.info.arch')%></strong></td>
          <td><%=@host.arch%></td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>

<div id="editHost" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="<%=t('host.edit')%>" aria-hidden="true">
  <div class="modal-header">
    <a type="button" class="close" data-dismiss="modal" aria-hidden="true">×</a>
    <h3 id="EditHostLabel"><%=t('host.edit')%></h3>
  </div>
  <form id="editServerform" action="/host/edit" method="post">
    <div class="modal-body">
      <div class="control-group">
        <input autocomplete="off" name='hostname' type="text" class="input" value="<%=@host.hostname%>" autofocus required><span class="help-inline"><%=t('host.hostname')%></span>
      </div>
      <div class="control-group">
        <input autocomplete="off" name='ip' type="text" class="input" value="<%=@host.ip%>" data-validation-regex-regex="(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)" data-validation-regex-message="<%=t('dialog.add_host.ip.valid')%>" required><span class="help-inline"><%=t('ip')%></span>
        <p class="help-block"></p>
      </div>
      <div class="control-group">
        <input autocomplete="off" name='ssh_port' type="text" class="input" value="<%=@host.ssh_port%>" autofocus required><span class="help-inline"><%=t('ssh.port')%></span>
      </div>
    </div>
    <div class="modal-footer">
      <input type="hidden" name="old_hostname" value="<%=@host.hostname%>">
      <a class="btn" data-dismiss="modal" aria-hidden="true"><%=t('action.cancel')%></a>
      <button type="submit" class="btn btn-primary"><%=t('action.save')%></button>
    </div>
  </form>
</div>
