<div class="row">
  <div class="span8">
    <div class="widget widget-table action-table">
      <div class="widget-header">
        <i class="icon-rocket"></i><h3><%=t('action.deploy')%></h3>
      </div>
      <div class="widget-content">
        <div style="position:absolute; margin:10px; z-index:90;">
          <select name="target" class="input" id="selectHostDeploy" style="position:absolute; margin:10px; z-index:90;">
            <option></option>
            <optgroup label="<%=t('group.other')%>">
            <% @hostgroups.each do |hostgroup| %>
              <option value="hostgroup;<%=hostgroup.name%>"><%=hostgroup.name%></option>
            <% end %>
            <optgroup label="<%=t('host.other')%>">
            <% @hosts.each do |host| %>
              <option value="host;<%=host.hostname%>"><%=host.hostname%></option>
            <% end %>
          </select>
        </div>
        <div class="visible-phone visible-tablet"><br /></div>
        <form id="createDeploy" action="/deploys/new" method="post">
          <table id="dptable" class="stripe row-border">
            <thead style="text-align:left;">
              <tr>
                <th>
                  <%=t('deploy')%>
                </th>
                </th>
                <th class="td-actions">
                  <%=t('action.other')%>
                </th>
              </tr>
            </thead>
            <tbody>
              <% @deploys.each do |deploy| %>
              <tr>
                <td>
                  <%=deploy%>
                </td>
                <td class="td-actions">
                  <a data-toggle="tooltip" data-original-title="<%=t('action.deploy')%>" data-deploy="<%=deploy%>" class="btn btn-success btn-mini btn-icon-only hint" <%= 'deploy-alert="'+@deploy_alerts[deploy]+'"' unless @deploy_alerts[deploy].nil? %> deploy-confirm="<%= t('dialog.deploy.confirm', deploy: deploy)%>"><i class="btn-icon-only icon-rocket"></i></a>
                  <a data-toggle="tooltip" data-original-title="<%=t('action.undeploy')%>" data-deploy="<%=deploy%>" class="btn btn-inverse btn-mini btn-icon-only <%= "hint" if Deploy.can_undeploy?(deploy) %> <%= "disabled" unless Deploy.can_undeploy?(deploy) %>" <%= 'deploy-alert="'+@undeploy_alerts[deploy]+'"' unless @undeploy_alerts[deploy].nil? %> undeploy-confirm="<%= t('dialog.deploy.undeploy', deploy: deploy)%>"><i class="btn-icon-only icon-undo"></i></a>
                  <a data-toggle="tooltip" data-original-title="<%=t('action.details')%>" href="/deploys/<%=deploy%>" class="btn btn-info btn-mini btn-icon-only hint"><i class="btn-icon-only icon-folder-open"></i></a>
                  <a data-toggle="tooltip" data-original-title="<%=t('action.del')%>" href="#delDeploy" class="btn btn-danger btn-mini btn-icon-only hint" onclick="passDataToModal('<%=deploy%>', '#delDeploy')"><i class="btn-icon-only icon-remove"></i></a>
                </td>
              </tr>
              <% end %>
              <tr>
                <td>
                  <input type="text" name="deploy_name" class="input" placeholder="Deploy Name" required>
                </td>
                <td class="td-actions">
                  <button type="submit" class="btn btn-primary btn-mini btn-icon-only hint" data-placement="left" data-toggle="tooltip" data-original-title="Create New Deploy">
                    <i class="btn-icon-only icon-plus"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
  <div class="span4">
    <div class="widget">
      <div class="widget-header">
        <i class="icon-bolt"></i><h3><%= t('dialog.install.title')%></h3>
      </div>
      <div class="widget-content">
        <form id="install_pkg" action='/deploys/install-pkg' method='post' class="form-inline">
          <div class="control-group"><input name='package' type="text" class="input-xlarge" placeholder="<%= t('dialog.install.packages')%>" required></div>
          <div class="control-group" for"host"><select name="target" class="input-xlarge" id="selectHostInstall" required>
            <option></option>
            <optgroup label="<%=t('group.other')%>">
            <% @hostgroups.each do |hostgroup| %>
              <option value="hostgroup;<%=hostgroup.name%>"><%=hostgroup.name%></option>
            <% end %>
            <optgroup label="<%=t('host.other')%>">
            <% @hosts.each do |host| %>
              <option value="host;<%=host.hostname%>"><%=host.hostname%></option>
            <% end %>
          </select></div>
          <div class="control-group"><input class="btn primary" type='submit' value='Install!'></div>
        </form>
      </div>
    </div>
    <div class="widget">
      <div class="widget-header">
        <i class="icon-bolt"></i><h3><%= t('dialog.execute.title')%></h3>
      </div>
      <div class="widget-content">
        <form id="exec_cmd" action='/deploys/exec-cmd' method='post' class="form-inline">
          <div class="control-group"><input name='cmd' type="text" class="input-xlarge" placeholder="<%= t('dialog.execute.command')%>" required></div>
          <div class="control-group" for"host"><select name="target" class="input-xlarge" id="selectHostExecute" required>
            <option></option>
            <optgroup label="<%=t('group.other')%>">
            <% @hostgroups.each do |hostgroup| %>
              <option value="hostgroup;<%=hostgroup.name%>"><%=hostgroup.name%></option>
            <% end %>
            <optgroup label="<%=t('host.other')%>">
            <% @hosts.each do |host| %>
              <option value="host;<%=host.hostname%>"><%=host.hostname%></option>
              <% end %>
          </select></div>
          <div class="control-group"><input class="btn primary" type='submit' value='Execute!'></div>
        </form>
      </div>
    </div>
  </div>
</div>


<div id="delDeploy" class="modal hide fade no-csstransforms3d" tabindex="-1" role="dialog" aria-labelledby="<%=t('dialog.del_deploy.title')%>" aria-hidden="true">
  <div class="modal-header">
    <a type="button" class="close" data-dismiss="modal" aria-hidden="true">×</a>
    <h3 id="delDeployLabel"><%=t('dialog.attention')%></h3>
  </div>
  <div class="modal-body">
    <p><%=t('dialog.del_deploy.confirm', deploy: '<b id="dataInput"></b>')%></p>
  </div>
  <div class="modal-footer">
    <form id="delDeployform" action="/deploys/del" method="post">
      <input type="hidden" name="deploy" id="dataInput" value="">
      <a class="btn" data-dismiss="modal" aria-hidden="true"><%=t('action.cancel')%></a>
      <button type="submit" class="btn btn-primary"><%=t('action.del')%></button>
    </form>
  </div>
</div>
